<div class="row introBlock">
	<div class="col_2">&nbsp;</div>
	<div class="col_8 textcenter">
		<h1 class="alt">Collaborate instantly. No accounts. Just a <span class="emphasis alt">Bubbl.</span></h1>
		<br>
		<a href="/pages/what/" class="btn red">What's a bubbl?</a>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>
<div class="row dropZone textcenter">
	<!--<div class="col_4">&nbsp;</div>
		<div class="col_4 textcenter">
			<p class="opacity6">
				Drop a file to make a new bubbl.
			</p>
		</div>
	<div class="col_4 last">&nbsp;</div>-->
	<%=render 'form' %>
</div>
<!-- add render 'form' -->
