<div class="row introBlock">
	<div class="col_1">&nbsp;</div>
	<div class="col_10 textcenter">
		<h1 class="alt">Collaborate instantly. No accounts. Just a <span class="emphasis alt">Bubbl.</span></h1>
		<br>
		<a href="/pages/what/" class="btn red">What's a bubbl?</a>
	</div>
	<div class="col_1 last">&nbsp;</div>
</div>
<div class="row dropZone textcenter newBubble">
	<h6 style="font-family: 'Nato Sans', Helvetica, Arial, sans-serif;">drag'n'drop a file to open a new bubbl!</h6>
	<%= render 'items/form' %>
	<ul>
		<% if @bubble.items.any? %>
			<%= render @bubble.items %>
		<% end %>
	</ul>


</div>
<script>
	  getBubbleHash(getIDFromForm($("#new_item")));
</script>