<%#KILL ALL EXPIRED LINKS %>
<%# cleanLinks(@bubble) %>

<%#= render 'items/form' %>
<%#= render 'links/form' %>
<%#= render @bubble.links %>
<div class="row introBlock">
	<div class="col_2">&nbsp;</div>
	<div class="col_8 textcenter">
		<h1 class="alt bubblTitle" style="margin-bottom:0;">
		</h1>
		<br>
		<a href="#" class="btn green" id="linkGen">Get New Link</a>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>
<div class="row dropZone textcenter">
	<%= render 'items/form' %>
	<ul>
		<% if @bubble.items.any? %>
			<%= render @bubble.items %>
		<% end %>
	</ul>
	<%#= render @bubble.links %>
</div>