<div class="row team">
	<div class="col_2">
		<%= image_tag("../assets/ethan.png") %>
	</div>
	<div class="col_4">
		<h2 class="name">Ethan Bond</h2>
		<h6 class="title">Designer</h6>
		<p class="bio">
			Studying Computer Science and Design, Innovation, and Society at Rensselaer Polytechnic Institute, Ethan centers his development around strong UX design. He is cofounder and designer at <a href="http://emberi.co">Emberi Co.</a>
		</p>
	</div>
	<div class="col_2">
		<%= image_tag("../assets/ray.png") %>
	</div>
	<div class="col_4 last">
		<h2 class="name">Raymond Jacobson</h2>
		<h6 class="title">Developer</h6>

		<p class="bio">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eos quos fugiat. Perferendis, consectetur error qui aliquid sequi enim inventore nisi quod recusandae accusantium vitae fugit impedit! Minus, voluptatem, excepturi!		
		</p>
	</div>
</div>