<div class="row team">
	<div class="col_2">
		<%= image_tag("../assets/ethan.png") %>
	</div>
	<div class="col_4">
		<h2 class="name">Ethan Bond</h2>
		<h6 class="title">Designer</h6>
		<p class="bio">
			Studying Computer Science and Design, Innovation, and Society at Rensselaer Polytechnic Institute, Ethan centers his development around strong UX design. He is co-founder and designer at <a href="http://emberi.co">Emberi Co.</a>
		</p>
	</div>
	<div class="col_2">
		<%= image_tag("../assets/ray.png") %>
	</div>
	<div class="col_4 last">
		<h2 class="name">Raymond Jacobson</h2>
		<h6 class="title">Developer</h6>

		<p class="bio">
			A student at Rensselaer Polytechnic Institute dual majoring in Computer Systems Engineering and Computer Science. Raymond's focus is on backend and can be found on <a href="https://github.com/raymondjacobson">GitHub</a> and at <a href="http://raymondjacobson.com">raymondjacobson.com</a>.	
		</p>
	</div>
</div>