<div class="row">
	<div class="col_1">&nbsp;</div>
	<div class="col_5">
		<h2 class="name">Raymond Jacobson</h2>
		<h6 class="title">Developer</h6>
		<p class="bio">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ex quo accusamus similique non a esse laborum minus. Sit numquam laborum incidunt nihil rem dolore modi provident distinctio laudantium illum.
		</p>
	</div>
	<div class="col_5">
		<h2 class="name">Ethan Bond</h2>
		<h6 class="title">Designer</h6>
		<p class="bio">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eos quos fugiat. Perferendis, consectetur error qui aliquid sequi enim inventore nisi quod recusandae accusantium vitae fugit impedit! Minus, voluptatem, excepturi!		
		</p>
	</div>
	<div class="col_1 last">&nbsp;</div>
</div>