<div class="row term">
	<div class="col_1">&nbsp;</div>
	<div class="col_3 summary">
		<h3 class="bold">This may go away at any time.</h3>
	</div>
	<div class="col_6 terms">
		<p>Bubbl.io is provided as-is and may be cancelled at any time without prior notice. This is provided as a free service and we hope to keep it up for as long as possible. Things may change, though, so don't rely on us too much.</p>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>

<div class="row term">
	<div class="col_1">&nbsp;</div>
	<div class="col_3 summary">
		<h3 class="bold">We don't take responsibility for anything you store.</h3>
	</div>
	<div class="col_6 terms">
		<p>Bubbl.io claims no ownership of the files your store and cannot be held legally responsible for user-uploaded content. </p>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>


<div class="row term">
	<div class="col_1">&nbsp;</div>
	<div class="col_3 summary">
		<h3 class="bold">This is for convenience, not for circumvention.</h3>
	</div>
	<div class="col_6 terms">
		<p>
			Prohibited data will be deleted without notice. This includes but is not limited to: copyright infringing materials, child pornography, or shocking content.
		</p>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>


<div class="row term">
	<div class="col_1">&nbsp;</div>
	<div class="col_3 summary">
		<h3 class="bold">Access links disappear after 7 days of not being used.</h3>
	</div>
	<div class="col_6 terms">
		<p>
			Bubbl.io's unique proposition is the temporary nature of its access system. Links can be generated around any bubbl - if that link is not utilized after 7 days, it no longer exists. If no other link to that file exists, it will also be deleted.
		</p>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>


<div class="row term">
	<div class="col_1">&nbsp;</div>
	<div class="col_3 summary">
		<h3 class="bold">Any user can edit anything in your bubbl.</h3>
	</div>
	<div class="col_6 terms">
		<p>
			Bubbl.io is built as a quick collaborative tool. As such, any user with access to your bubbl can edit any file within it without your knowledge or permission. Only give links to who you trust.
		</p>
	</div>
	<div class="col_2 last">&nbsp;</div>
</div>