<%= form_for [@bubble, @item], :id=>'new_form', :method=>'post', :html => {:multipart => true} do |f| %>
	<p>
		<%= f.file_field :file, :id=>'choose_file' %>
	</p>
	<input type="hidden" name='hash' id="hidden_field" value=''/>
	<p><%= f.submit nil, :name=>hash, :id=>'submit_file' %></p>
<% end %>
<script>
  var file = document.getElementById('choose_file');
  var submit = document.getElementById('submit_file');
  file.onchange = function(){
      file.form.submit();
  };

  function manualSubmit(){
  	file.form.submit();
  	console.log("uploaded");
  };


 </script>
