<%= form_for [@bubble, @item], :html => {:multipart => true} do |f| %>
	<p>
		<%= f.file_field :file, :id=>'choose_file' %>
	</p>
	<p><%= f.submit nil, :id=>'submit_file' %></p>
<% end %>
<script>
  var file = document.getElementById('choose_file');
  var submit = document.getElementById('submit_file');
  file.onchange = function(){
  		this.form.submit();
  };
 </script>
